<!-- PROBLEM -->


<!-- var user = "Priyansh nahar"  

 var greet = "Hello, " + user; 

 now in the above code we want to greet user by writing hello in strings so this is a complicated process 
now we have a new feature in es6 which is template string -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        let user = "yahoo baba";
        // document.write(`hello ${user}`)
        function fullname(firstname, lastname) {
            return (``)
        }
    </script>
</head>
<body>
    
</body>
</html>